# Python
__pycache__/
*.py[cod]
*$py.class
*.db
*.sqlite
.venv/
venv/
ENV/
env/
.env
.env.*


# Frontend Node
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/*.local

# Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
